body {
    margin: 0;
}

.nav {
    display: flex;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: aliceblue;
    text-shadow: 0 0 5px black;
    letter-spacing: 1px;
    padding: 10px;
}

.nav > img {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.nav-title {
    font-size: 30px;
    padding-left: 20px;
}

.main-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-input {
    width: 33%;
    height: 50px;
    border-radius: 10px;
    border: 0.5px solid #D5D4D8;
    font-family: "Karla", sans-serif;
    text-indent: 5px;
}

.main > button {
    width: 70%;
    height: 50px;
    margin: 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    font-weight: bolder;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    font-family: "Karla", sans-serif;
}

.main {
    text-align: center;
}

.meme {
    position: relative;
}

.img-meme {
    max-width: 100%;
    border-radius: 3px;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}